<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">
      <div class="card-header text-center">
        <h2 class="font-weight-bold">Registro</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="myForm" (ngSubmit)="reg()">
          <div class="form-group">
            <label for="name">Nombre </label>
            <input id="name" class="form-control" formControlName="name" />
          </div>

          <div *ngIf="myForm.get('name').errors && myForm.get('name').dirty">
            <p *ngIf="myForm.get('name').hasError('required')">
              Este campo es obligatorio!
            </p>
            <p *ngIf="myForm.get('name').hasError('maxlength')">
              Tu nombre no debe exceder los 15 caracteres!!
            </p>
          </div>

          <div class="form-group">
            <label for="user">Usuario </label>
            <input type="text" id="user" class="form-control" formControlName="user" />
          </div>

          <div *ngIf="myForm.get('user').errors && myForm.get('user').dirty">
            <p *ngIf="myForm.get('user').hasError('required')">El campo es obligatorio</p>
          </div>


          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" class="form-control" formControlName="password" />
          </div>

          <div *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
            <p *ngIf="myForm.get('password').hasError('required')">El campo es obligatorio</p>
          </div>

          <button class="btn btn-outline-success btn-block" [disabled]="myForm.invalid">
            Registrate
          </button>
          <hr />
          <div class="form-group text-center">
            <p>
              Ya estas registrado?
              <button class="btn btn-link btn-block" [routerLink]="['/login']">
                Logueate
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>