<div class="card filtro">
  <div class="card-header">
    <strong>Filtrar</strong>
  </div>
  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="Desde">Desde</label>
        <input type="number" id="desde" class="form-control" />
      </div>

      <div class="form-group">
        <label for="Hasta">Hasta</label>
        <input type="number" id="hasta" class="form-control" />
      </div>

      <button class="btn btn-primary btn-block btn-sm">
        Filtrar por precio
      </button>
    </form>
  </div>
</div>
