<div class="row">
  <div class="col-md-4 offset-md-4">
    <div class="guest-form-card card">
      <div class="card-header text-center">
        <h2 class="font-weight-bold">Login</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="myForm" class="login-form" (ngSubmit)="login()">
          <div class="form-group">
            <label for="username">Usuario </label>
            <input id="username" class="form-control" formControlName="user" />
          </div>
          <div *ngIf="myForm.get('user').errors && myForm.get('user').dirty">
            <p *ngIf="myForm.get('user').hasError('required')">El campo es obligatorio</p>
          </div>

          <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" id="password" class="form-control" formControlName="password" />
          </div>
          <div *ngIf="
              myForm.get('password').errors && myForm.get('password').dirty
            ">
            <p *ngIf="myForm.get('password').hasError('required')">
              Este campo es obligatorio!
            </p>
            <p *ngIf="myForm.get('password').hasError('minlength')">
              Tu contraseña debe tener al menos 5 caracteres!
            </p>
            <p *ngIf="myForm.get('password').hasError('maxlength')">
              Tu contraseña no debe exceder los 8 caracteres!!
            </p>
          </div>

          <div class="form-group">
            <input type="checkbox" id="remember" />
            <label class="ml-1" for="remember">Recordarme</label>
          </div>
          <button class="btn btn-outline-success btn-block" [disabled]="myForm.invalid">
            Ingresar
          </button>
          <hr />
          <div class="form-group text-center">
            <p>
              No estas registrado?
              <button class="btn btn-link btn-block" [routerLink]="['/register']">
                Registrate!
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>